<nav class="header">
  <div class="header-container">
    <a href="#">
      <img src="../../../../assets/images/logo-magna.png" class="header__logo-magna" />
    </a>
    <ul class="header__menu">
      <li class="header__menu-item"><a href="#">Empresa</a></li>
      <li class="header__menu-item"><a href="#">Soluções</a></li>
      <li class="header__menu-item"><a href="#">Cases</a></li>
      <li class="header__menu-item"><a href="#">Parceiros</a></li>
      <li class="header__menu-item"><a href="#">Novidades</a></li>
      <li class="header__menu-item"><a href="#">Carreiras</a></li>
      <li class="header__menu-item">
        <a
          href="https://jobs.kenoby.com/magnasistemas"
          data-toggle="tooltip"
          class="header__nav-icon"
          data-original-title="Vagas"
        >
          <img src="../../../../assets/images/bt-vagas.png" class="header__responsive-img" />
        </a>
      </li>
      <li class="header__menu-item">
        <a
          class="header__nav-icon"
          href="#contato"
          data-toggle="tooltip"
          title=""
          data-original-title="Contato"
          ><img src="../../../../assets/images/bt-contato.png" class="header__responsive-img"
        /></a>
      </li>
      <li class="header__menu-item">
        <form action="/internet/busca" method="get">
          <input
            class="header__search"
            placeholder="Buscar por"
            name="search_query"
            type="search"
          /><input class="header__submit" type="submit" />
        </form>
      </li>
      <li class="header__menu-item">
        <a
          href="http://intranet.magnasistemas.com.br"
          title=""
          target="_blank"
          data-toggle="tooltip"
          class="header__nav-icon"
          data-original-title="Intranet"
          ><img src="../../../../assets/images/bt-intranet.png" class="header__responsive-img"
        /></a>
      </li>
      <li class="header__menu-item">
        <a href="http://blog.magnasistemas.com.br/" target="_blank">Blog</a>
      </li>
    </ul>
  </div>
</nav>
