* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  list-style: none;
}

p {
  font-size: 12.6px;
  line-height: 1.42857143;
}

a,
div {
  color: #fff;
}

.footer {
  position: relative;
  bottom: 0;
  margin-top: 50px;
  width: 100%;
}

.footer__tabs {
  display: flex;
  flex-direction: column;
  padding: 50px 30px 0px;
}

.footer__city {
  height: 50px;
  line-height: 50px;
  border-radius: 0;
  position: relative;
  float: left;
  width: 100%;
  background: #ededed;
  text-align: center;
  font-size: 22px;
  padding: 0;
  margin: 0;
  border: 0.5px solid black;
  outline: 0 !important;
  cursor: pointer;

  transition: all 0.5s ease;
}

.footer__city a {
  color: #2d4f77;
  transition: all 0.5s ease;
  font-size: 14px;
}

.footer__city.selected,
.footer__city:hover {
  background: #2d4f77;
}

.footer__city.selected a,
.footer__city:hover a {
  color: #ededed;
}

.footer__tab-panel {
  opacity: 0%;
  display: none;
  transition: all 0.5s;
}

.footer__tab-panel.selected {
  opacity: 100%;
  display: block;
}

.footer__tab__container {
  width: 100vw;
  padding: 28px 0;
  color: #fff;
  background: #2d4f77;
}

.footer__tab-container {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.footer__information-wrapper {
  width: 100%;
}

.footer__information,
.footer__form {
  width: 100%;
  padding: 0px 15px;
}

.footer__form {
  padding-top: 30px;
}

.footer__tab__images-container {
  display: none;
}

.footer__tab__images {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer__tab__images a {
  position: relative;
  width: 100%;
  height: 100%;
}

.footer__img {
  width: 100%;
  position: absolute;
  z-index: 3;
  opacity: 100%;

  will-change: opacity;
  transition: opacity 0.5s;
}

.footer__img:hover {
  opacity: 0%;
}

.footer__img-hover {
  width: 100%;
  position: absolute;
  z-index: 2;
}

.footer__information {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid #fff;
  padding-bottom: 30px;
}

.footer__ic-local {
  margin-right: 12px;
}

.footer__information > h3,
.footer__form > h3,
.footer__socials {
  font-size: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 4.4px;
  line-height: 1.1;
}

.footer__socials {
  padding-top: 20px;
}

.footer__see-map {
  margin: 5.4px 0px;
}

.footer__see-map b {
  font-weight: 700;
}

.footer__socials-wrapper {
  display: flex;
  gap: 7px;
}

.footer__form-container {
  padding-top: 7.4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__form__input,
.footer__form__select,
.footer__form__textarea {
  padding: 0 5px;
  height: 27px;
  width: 100%;
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 4px;
  background: #fff !important;
  color: #666;
}

.footer__form__select {
  color: #b6b6b6;
}

.footer__form__textarea {
  height: 115px;
}

.footer__form__button {
  float: right;
  padding: 0.6em 2em;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 4px;
  background-color: #1d3b5f;
  cursor: pointer;

  will-change: background-color;
  will-change: color;
  transition: all 0.5s ease;
}

.footer__form__button:hover {
  color: var(--color-button);
  background-color: #fff;
}

.footer__copy {
  background-color: var(--color-general);
}

.footer__copy-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px 0px;
  text-align: center;
}

.footer__copy-container a {
  text-decoration: underline;
  font-size: 11.2px;
}

.footer__copy-container div {
  font-size: 11.2px;
  margin-bottom: 8px;
}

.footer__city {
  height: 50px;
  line-height: 50px;
  border-radius: 3px 3px 0 0;
  position: relative;
  float: left;
  width: 100%;
  background: #ededed;
  text-align: center;
  font-size: 22px;
  padding: 0;
  margin: 0;
  border: 0 !important;
  outline: 0 !important;
  cursor: pointer;

  transition: all 0.5s ease;
}

@media only screen and (min-width: 435px) {
  .footer__tabs {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 50px 30px 0px;
  }

  .footer__city {
    height: 50px;
    line-height: 50px;
    border-radius: 3px 3px 0 0;
    position: relative;
    float: left;
    width: 100%;
    background: #ededed;
    text-align: center;
    font-size: 22px;
    padding: 0;
    margin: 0;
    border: 0 !important;
    outline: 0 !important;
    cursor: pointer;

    transition: all 0.5s ease;
  }
}

@media only screen and (min-width: 540px) {
  .footer__copy-container {
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
  }

  .footer__copy-container div {
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 768px) {
  .footer__city a {
    font-size: 22px;
  }

  .footer__tab-container,
  .footer__copy-container,
  .footer__tabs {
    width: 750px;
    margin: auto;
  }

  .footer__copy-container {
    padding-right: 0;
    padding-left: 0;
  }

  .footer__tab-container {
    flex-direction: row;
  }

  .footer__information {
    border-bottom: 0;
    border-right: 1px solid #fff;
    padding-bottom: 0;
  }

  .footer__form {
    padding-top: 0;
  }

  .footer__information-wrapper,
  .footer__form {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .footer__tab-container,
  .footer__copy-container,
  .footer__tabs {
    width: 970px;
  }

  .footer__tab__images-container,
  .footer__information-wrapper,
  .footer__form {
    width: 33.33333%;
  }

  .footer__tab__images-container {
    padding: 0px 15px;
  }

  .footer__tab__images-container {
    display: block;
  }

  .footer__information {
    border-left: 1px solid #fff;
  }
}

@media only screen and (min-width: 1200px) {
  .footer__tab-container,
  .footer__copy-container,
  .footer__tabs {
    width: 1170px;
  }
}
