<footer class="footer">
  <div class="footer__tabs-container">
    <ul class="footer__tabs">
      <li role="presentation" class="footer__city selected">
        <a href="#sao-paulo">São Paulo</a>
      </li>
      <li role="presentation" class="footer__city">
        <a href="#brasilia">Brasília</a>
      </li>
      <li role="presentation" class="footer__city">
        <a href="#rio-de-janeiro">Rio de Janeiro</a>
      </li>
    </ul>
  </div>

  <div class="footer__tab__container">
    <div class="footer__tab-content">
      <!-- TAB SAO PAULO -->
      <div id="sao-paulo" class="footer__tab-panel show">
        <div class="footer__tab-container">
          <div class="footer__tab__images-container">
            <div class="footer__tab__images">
              <a href="https://goo.gl/maps/aM8w16i5BTT2" target="_blank">
                <img
                  src="../../../../assets/images/img-footer.png"
                  class="footer__img" />
                <img
                  src="../../../../assets/images/footer-hover-sp.png"
                  class="footer__img-hover"
              /></a>
            </div>
          </div>
          <div class="footer__information-wrapper">
            <div class="footer__information">
              <h3>
                <img
                  src="../../../../assets/images/ic-local.png"
                  class="footer__ic-local"
                />Onde Estamos
              </h3>
              <p>Rua Capitão Antônio Rosa, 376 - 12º andar</p>
              <p>CEP: 01443-900 - São Paulo - SP</p>
              <a
                href="https://goo.gl/maps/aM8w16i5BTT2"
                target="_blank"
                class="footer__see-map"
                ><b>Veja no Mapa:</b>
                <img src="/../../../../assets/images/veja-mapa.png"
              /></a>
              <p>
                Email:
                <a href="mailto:magna@magnasistemas.com.br"
                  >magna@magnasistemas.com.br</a
                ><br /><br />
              </p>
              <p>Telefone: +55 (11) 3069-2112</p>
              <p>Fax: +55 (11) 3069-2116</p>
              <h3 class="footer__socials">Siga nas redes sociais</h3>
              <div class="footer__socials-wrapper">
                <a href="https://www.fb.com/MagnaSistemas" target="_blank"
                  ><img
                    src="../../../../assets/images/ic-face.png"
                    class="footer__img-social"
                /></a>
                <a href="https://twitter.com/magnasistemasbr" target="_blank"
                  ><img
                    src="../../../../assets/images/ic-twitter.png"
                    class="footer__img-social"
                /></a>
                <a
                  href="https://www.linkedin.com/company/magna-sistemas"
                  target="_blank"
                  ><img
                    src="../../../../assets/images/ic-linkedin.png"
                    class="footer__img-social"
                /></a>
                <a
                  href="https://www.instagram.com/magna_sistemas/"
                  target="_blank"
                  ><img
                    src="../../../../assets/images/ic-instagram.png"
                    class="footer__img-social"
                /></a>
              </div>
            </div>
          </div>
          <div id="responsive-form" class="footer__form">
            <h3>
              <img
                src="../../../../assets/images/bt-contato.png"
                class="footer__ic-local"
              /><a id="contato">Contato</a>
            </h3>
            <form class="footer__form-container">
              <input
                class="footer__form__input"
                type="text"
                placeholder="Nome"
              />
              <input
                class="footer__form__input"
                type="email"
                placeholder="E-mail"
              />
              <input
                class="footer__form__input"
                type="text"
                maxlength="15"
                id="faq-telefone-sp"
                onkeyup="mascara(this, mascaraTelefone)"
                placeholder="Telefone"
              />
              <input
                class="footer__form__input"
                type="text"
                placeholder="Empresa"
              />
              <select class="footer__form__select">
                <option value="">Selecione o assunto</option>
                <option value="comercial@magnasistemas.com.br">
                  Comercial
                </option>
                <option value="ouvidoria@magnasistemas.com.br">
                  Ouvidoria
                </option>
                <option value="marketing@magnasistemas.com.br">
                  Marketing e Alianças
                </option>
                <option value="rh@magnasistemas.com.br">
                  Recursos Humanos
                </option>
                <option value="comercial@magnasistemas.com.br">
                  Fale com um consultor
                </option>
                <option value="dpo@magnasistemas.com.br">
                  Contato com o Encarregado de Dados
                </option>
              </select>
              <textarea
                class="footer__form__textarea"
                id="faq-mensagem-sp"
                rows="4"
                placeholder="Digite aqui sua mensagem.."
              ></textarea>
              <div class="footer__button-wrapper">
                <button class="footer__form__button">Enviar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- TAB SAO PAULO -->
      <!-- TAB BRASILIA -->
      <div id="brasilia" class="footer__tab-panel">
        <div class="footer__tab-container">
          <div class="footer__tab__images-container">
            <div class="footer__tab__images">
              <a href="https://goo.gl/maps/aM8w16i5BTT2" target="_blank">
                <img
                  src="../../../../assets/images//footer-bsb.png"
                  class="footer__img" />
                <img
                  src="../../../../assets/images/footer-hover-bsb.png"
                  class="footer__img-hover"
              /></a>
            </div>
          </div>
          <div class="footer__information-wrapper">
            <div class="footer__information">
              <h3>
                <img
                  src="../../../../assets/images/ic-local.png"
                  class="footer__ic-local"
                />Onde Estamos
              </h3>
              <p>SHN - Quadra 02, Bloco F</p>
              <p>5º andar - Salas 521 a 523</p>
              <p>CEP: 70702-906 - Brasília - DF</p>
              <a
                href="https://goo.gl/maps/aM8w16i5BTT2"
                target="_blank"
                class="footer__see-map"
                ><b>Veja no Mapa:</b>
                <img src="../../../../assets/images/veja-mapa.png"
              /></a>
              <p>
                Email:
                <a href="mailto:magna@magnasistemas.com.br"
                  >magna@magnasistemas.com.br</a
                ><br /><br />
              </p>
              <p>Telefone: +55 (61) 3327-6687</p>
              <h3 class="footer__socials">Siga nas redes sociais</h3>
              <div class="footer__socials-wrapper">
                <a href="https://www.fb.com/MagnaSistemas" target="_blank"
                  ><img
                    src="../../../../assets/images/ic-face.png"
                    class="footer__img-social"
                /></a>
                <a href="https://twitter.com/magnasistemasbr" target="_blank"
                  ><img
                    src="../../../../assets/images/ic-twitter.png"
                    class="footer__img-social"
                /></a>
                <a
                  href="https://www.linkedin.com/company/magna-sistemas"
                  target="_blank"
                  ><img
                    src="../../../../assets/images/ic-linkedin.png"
                    class="footer__img-social"
                /></a>
                <a
                  href="https://www.instagram.com/magna_sistemas/"
                  target="_blank"
                  ><img
                    src="../../../../assets/images/ic-instagram.png"
                    class="footer__img-social"
                /></a>
              </div>
            </div>
          </div>
          <div id="responsive-form" class="footer__form">
            <h3>
              <img
                src="../../../../assets/images/bt-contato.png"
                class="footer__ic-local"
              />Contato
            </h3>
            <form class="footer__form-container">
              <input
                type="text"
                placeholder="Nome"
                class="footer__form__input"
              />
              <input
                type="email"
                placeholder="E-mail"
                class="footer__form__input"
              />
              <input
                class="footer__form__input"
                type="text"
                maxlength="15"
                id="faq-telefone-df"
                onkeyup="mascara(this, mascaraTelefone)"
                placeholder="Telefone"
              />
              <input
                type="text"
                placeholder="Empresa"
                class="footer__form__input"
              />
              <select class="footer__form__select">
                <option value="">Selecione o assunto</option>
                <option value="comercial@magnasistemas.com.br">
                  Comercial
                </option>
                <option value="ouvidoria@magnasistemas.com.br">
                  Ouvidoria
                </option>
                <option value="marketing@magnasistemas.com.br">
                  Marketing e Alianças
                </option>
                <option value="rh@magnasistemas.com.br">
                  Recursos Humanos
                </option>
                <option value="comercial@magnasistemas.com.br">
                  Fale com um consultor
                </option>
                <option value="dpo@magnasistemas.com.br">
                  Contato com o Encarregado de Dados
                </option>
              </select>
              <textarea
                class="footer__form__textarea"
                id="faq-mensagem-df"
                rows="4"
                placeholder="Digite aqui sua mensagem.."
              ></textarea>
              <div class="footer__button-wrapper">
                <button class="footer__form__button">Enviar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- TAB BRASILIA -->
      <!-- TAB RJ -->
      <div id="rio-de-janeiro" class="footer__tab-panel">
        <div class="footer__tab-container">
          <div class="footer__tab__images-container">
            <div class="footer__tab__images">
              <a href="https://goo.gl/maps/aM8w16i5BTT2" target="_blank">
                <img
                  src="../../../../assets/images/footer-rj.png"
                  class="footer__img" />
                <img
                  src="../../../../assets/images/footer-hover-rj.png"
                  class="footer__img-hover"
              /></a>
            </div>
          </div>
          <div class="footer__information-wrapper">
            <div class="footer__information">
              <h3>
                <img
                  src="../../../../assets/images/ic-local.png"
                  class="footer__ic-local"
                />Onde Estamos
              </h3>
              <p>Avenida Rio Branco, 26 - Pav. 1 - Sala 18</p>
              <p>CEP: 20090-001 - Rio de Janeiro - RJ</p>
              <a
                href="https://goo.gl/maps/aM8w16i5BTT2"
                target="_blank"
                class="footer__see-map"
                ><b>Veja no Mapa:</b>
                <img src="../../../../assets/images/veja-mapa.png"
              /></a>
              <p>
                Email:
                <a href="mailto:magna@magnasistemas.com.br"
                  >magna@magnasistemas.com.br</a
                ><br /><br />
              </p>
              <p>Telefone: +55 (21) 3541-0343</p>
              <h3 class="footer__socials">Siga nas redes sociais</h3>
              <div class="footer__socials-wrapper">
                <a href="https://www.fb.com/MagnaSistemas" target="_blank"
                  ><img
                    src="../../../../assets/images/ic-face.png"
                    class="footer__img-social"
                /></a>
                <a href="https://twitter.com/magnasistemasbr" target="_blank"
                  ><img
                    src="../../../../assets/images/ic-twitter.png"
                    class="footer__img-social"
                /></a>
                <a
                  href="https://www.linkedin.com/company/magna-sistemas"
                  target="_blank"
                  ><img
                    src="../../../../assets/images/ic-linkedin.png"
                    class="footer__img-social"
                /></a>
                <a
                  href="https://www.instagram.com/magna_sistemas/"
                  target="_blank"
                  ><img
                    src="../../../../assets/images/ic-instagram.png"
                    class="footer__img-social"
                /></a>
              </div>
            </div>
          </div>
          <div id="responsive-form" class="footer__form">
            <h3>
              <img
                src="../../../../assets/images/bt-contato.png"
                class="footer__ic-local"
              />Contato
            </h3>
            <form id="footer__form-container">
              <input
                class="footer__form__input"
                type="text"
                placeholder="Nome"
                id="faq-nome-rj"
              />
              <input
                class="footer__form__input"
                type="email"
                placeholder="E-mail"
                id="faq-mail-rj"
              />
              <input
                class="footer__form__input"
                type="text"
                maxlength="15"
                id="faq-telefone-rj"
                onkeyup="mascara(this, mascaraTelefone)"
                placeholder="Telefone"
              />
              <input
                class="footer__form__input"
                type="text"
                placeholder="Empresa"
                id="faq-empresa-rj"
              />
              <select class="footer__form__select">
                <option value="">Selecione o assunto</option>
                <option value="comercial@magnasistemas.com.br">
                  Comercial
                </option>
                <option value="ouvidoria@magnasistemas.com.br">
                  Ouvidoria
                </option>
                <option value="marketing@magnasistemas.com.br">
                  Marketing e Alianças
                </option>
                <option value="rh@magnasistemas.com.br">
                  Recursos Humanos
                </option>
                <option value="comercial@magnasistemas.com.br">
                  Fale com um consultor
                </option>
                <option value="dpo@magnasistemas.com.br">
                  Contato com o Encarregado de Dados
                </option>
              </select>
              <textarea
                class="footer__form__textarea"
                id="faq-mensagem-rj"
                rows="4"
                placeholder="Digite aqui sua mensagem.."
              ></textarea>
              <div class="footer__button-wrapper">
                <button class="footer__form__button">Enviar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- TAB RJ -->
    </div>
  </div>
  <div class="footer__copy">
    <div class="footer__copy-container">
      <div class="">
        1996-2021 ©Magna Sistemas Consultoria S.A. - Todos os direitos
        reservados
      </div>
      <div class="">
        <a
          target="_blank"
          href="https://www.magnasistemas.com.br/wps/portal/internet/politica-privacidade"
          >Política de Privacidade</a
        >
      </div>
    </div>
  </div>
</footer>
