/* ==========GENERAL========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
h4,
p {
  text-decoration: none;
}

.homepage {
  width: 100%;
}
/* ==========GENERAL========== */

/* ==========FIRST-SECTION========== */
.homepage__first-section-container {
  display: flex;
  margin: auto;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 45px !important;
}

.homepage__first-section-container a,
.homepage__first-section-container p,
.homepage__first-section-container h4 {
  color: #5392e9;
}

.homepage__first__card-container {
  width: 328px;
}

.homepage__first-img {
  position: relative;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: 0 !important;
  border-radius: 4px 4px 0 0 !important;
}

.homepage__first__box-card {
  position: relative;
  text-align: center;
  border: 1px solid #5392e9;
  border-radius: 6px;
  padding-bottom: 15px;
}

.homepage__first__box-card h4 {
  font-size: 18px;
  height: 40px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 5px 0px 10px;
}

.homepage__first__box-card p {
  font-size: 12.6px;
  padding: 0 12.6px;
  height: 65px;
}

.homepage__first__box-card a:nth-child(2) {
  font-size: 11.2px;
  display: inline-block;
  margin: 0 15px;
  padding: 5.6px 28px;
  border: 1px solid #5392e9;
  border-radius: 6px;
  position: relative;
  width: calc(100% - 25px);

  transition: all 0.5s ease;
}

.homepage__first__box-card a:nth-child(2):hover {
  color: #fff;
  background: #5392e9;
}
/* ==========FIRST-SECTION========== */

/* ==========SECOND-SECTION========== */
.homepage__second-section-container {
  padding: 28px 0;
  color: #002f70;
  background: #f4f4f4;
}

.homepage__second-section-container a,
.homepage__second-section-container p,
.homepage__second-section-container h4 {
  color: #002f70;
}

.homepage__second-wrapper {
  padding: 0px 15px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.homepage__second-box {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 555px;
}

.homepage__inner-second-box {
  text-align: center;
  position: relative;
}

.homepage__inner-second-box h4 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.1;
}

.homepage__inner-second-box p {
  font-size: 12.6px;
  line-height: 1.42857143;
  margin-bottom: 60px;
}

.homepage__inner-second-box a {
  font-size: 14px;
  line-height: 1.42857143;
  padding: 8.4px 28px;
  color: #fff;
  border-radius: 4px;
  background: #5392e9;
  border: 1px solid #5392e9;
  position: absolute;
  bottom: 0;
  left: calc((100% - 129.562px) / 2);

  transition: all 0.5s ease;
}

.homepage__inner-second-box a:hover {
  background: #0000;
  color: #5392e9;
}

.homepage__second-img {
  border: 1px solid #002f70 !important;
  border-radius: 4px !important;
  width: 230px;
  height: 200px;
  object-fit: cover;
}

/* ==========SECOND-SECTION========== */

/* ==========THIRD-SECTION========== */

.homepage__third-section-container {
  background: var(--color-general);
}

.homepage__third-section-wrapper {
  display: flex;
  flex-direction: column;
  padding: 33px 0px 45px;
  gap: 33px;
}

.homepage__third__box-container {
  display: flex;
  margin: auto;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.homepage__third-section-container h2 {
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.1;
}

.homepage__third-section-container a,
.homepage__third-section-container p,
.homepage__third-section-container h4 {
  color: #ffffff;
}

.homepage__third__box-card {
  max-width: 328px;
  border: 1px solid #fff;
  position: relative;
  text-align: center;
  border-radius: 6px;
}

.homepage__third-img {
  position: relative;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: 0 !important;
  border-radius: 4px 4px 0 0 !important;
}

.homepage__third__box-card h4 {
  font-size: 18px;
  height: 40px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 5px 0px 10px;
}

.homepage__third__box-card p {
  font-size: 12.6px;
  padding: 0 12.6px;
  height: 65px;
}

.homepage__third__box-card a:nth-child(2) {
  font-size: 11.2px;
  display: inline-block;
  margin: 0px 15px 15px;
  padding: 5.6px 28px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  position: relative;
  width: calc(100% - 25px);

  transition: all 0.5s ease;
}

.homepage__third__box-card a:nth-child(2):hover {
  color: #fff;
  background: #5392e9;
}

/* ==========THIRD-SECTION========== */

/* ==========RESPONSIVE========== */
@media only screen and (min-width: 768px) {
  .max-width {
    width: 750px;
    margin: auto;
  }

  .homepage__second-box {
    flex-wrap: nowrap;
  }

  .homepage__inner-second-box {
    text-align: start;
  }

  .homepage__inner-second-box a {
    left: 0;
  }
}

@media only screen and (min-width: 992px) {
  .max-width {
    width: 970px;
  }

  .homepage__first__box-card p,
  .homepage__third__box-card p {
    height: 75px;
  }

  .homepage__first__box-card h4,
  .homepage__third__box-card h4 {
    font-size: 16px;
  }

  .homepage__first__card-container,
  .homepage__third__box-card {
    width: 212.5px;
  }

  .homepage__second-wrapper {
    flex-wrap: nowrap;
  }
}

@media only screen and (min-width: 1200px) {
  .max-width {
    width: 1170px;
  }

  .homepage__first__box-card h4,
  .homepage__third__box-card h4 {
    font-size: 18px;
  }

  .homepage__first__card-container,
  .homepage__third__box-card {
    width: 253px;
  }
}
/* ==========RESPONSIVE========== */
