<div class="homepage">
  <!-- First Section -->

  <section class="homepage__first-section-container max-width">
    <!-- <div class="homepage__first__card-container">
      <div class="homepage__first__box-card">
        <a
          href="https://www.magnasistemas.com.br/wps/wcm/connect/41b7b902-e96b-444b-9297-76040ec9de65/E-Book_Industria+4-0_MS.pdf?MOD=AJPERES&CVID=nVfJnFw"
          target="_blank"
        >
          <img
            src="https://www.magnasistemas.com.br/wps/wcm/connect/e2218fd9-5ea5-43a2-8cca-15ec84411aac/Captura+de+tela+2022-01-07+112354.png?MOD=AJPERES&CACHEID=ROOTWORKSPACE-e2218fd9-5ea5-43a2-8cca-15ec84411aac-leAWnzx"
            alt="Industria 4.0"
            class="homepage__first-img"
          />
          <h4>Industria 4.0</h4>
          <p>
            Baixe o e-book e saiba os benefícios da Indústria 4.0 e como ela
            impulsiona os processos da sua empresa.
          </p>
        </a>

        <a
          href="https://www.magnasistemas.com.br/wps/wcm/connect/41b7b902-e96b-444b-9297-76040ec9de65/E-Book_Industria+4-0_MS.pdf?MOD=AJPERES&CVID=nVfJnFw"
          target="_blank"
          >BAIXE AQUI</a
        >
      </div>
    </div>

    <div class="homepage__first__card-container">
      <div class="homepage__first__box-card">
        <a
          href="https://www.magnasistemas.com.br/wps/portal/internet/novidades/detalhes/59d7973a-db66-4afd-9295-9a70337926c9"
          target="_blank"
        >
          <img
            src="https://www.magnasistemas.com.br/wps/wcm/connect/f04f457d-c43b-44ac-b892-0202d97874b4/2021-IBM-Geography-Excellence-Award-Top-Brazil-Sell-Business-Partner-of-the-Year.png?MOD=AJPERES&CACHEID=ROOTWORKSPACE-f04f457d-c43b-44ac-b892-0202d97874b4-leAWnzx"
            alt="Top Brazil Sell Business Partner of the Year"
            class="homepage__first-img"
          />
          <h4>“Top Brazil Sell Business Partner of the Year”</h4>
          <p>
            MAGNA SISTEMAS é a vencedora da premiação "2021 IBM Geography
            Excellence Award"
          </p>
        </a>

        <a
          href="https://www.magnasistemas.com.br/wps/portal/internet/novidades/detalhes/59d7973a-db66-4afd-9295-9a70337926c9"
          target="_blank"
          >SAIBA MAIS</a
        >
      </div>
    </div>

    <div class="homepage__first__card-container">
      <div class="homepage__first__box-card">
        <a
          href="https://www.magnasistemas.com.br/wps/portal/internet/parceiros/detalhes/1a064e67-f5ba-42db-9ad3-47336b7dd7eb"
          target="_blank"
        >
          <img
            src="https://www.magnasistemas.com.br/wps/wcm/connect/7cf4c867-e74e-40f9-832d-3299da2333c7/Instagram+2.png?MOD=AJPERES&CACHEID=ROOTWORKSPACE-7cf4c867-e74e-40f9-832d-3299da2333c7-leAWnzx"
            alt="Somos Google Cloud Partner!"
            class="homepage__first-img"
          />
          <h4>Somos "Google Cloud Partner"!</h4>
          <p>
            A MAGNA SISTEMAS tem o prazer de anunciar sua mais nova parceria de
            sucesso!
          </p>
        </a>

        <a
          href="https://www.magnasistemas.com.br/wps/portal/internet/parceiros/detalhes/1a064e67-f5ba-42db-9ad3-47336b7dd7eb"
          target="_blank"
          >VEJA MAIS</a
        >
      </div>
    </div>

    <div class="homepage__first__card-container">
      <div class="homepage__first__box-card">
        <a
          href="https://www.magnasistemas.com.br/wps/portal/internet/novidades/detalhes/a718f11a-e3a0-49ea-88c9-84706f71eee5"
          target="_blank"
        >
          <img
            src="https://www.magnasistemas.com.br/wps/wcm/connect/7d2b1bda-5255-48db-a9d5-788e5518e057/Beige+and+Green+Abstract+Illustration+Join+Our+Team+Announcement+LinkedIn+Post+%283%29.png?MOD=AJPERES&CACHEID=ROOTWORKSPACE-7d2b1bda-5255-48db-a9d5-788e5518e057-leAWnzx"
            alt="Destaque do Ano do Anuário Informática"
            class="homepage__first-img"
          />
          <h4>Destaque do Ano do Anuário Informática</h4>
          <p>
            MAGNA SISTEMAS escolhida no segmento de mercado Integradores - Médio
            Porte.
          </p>
        </a>

        <a
          href="https://www.magnasistemas.com.br/wps/portal/internet/novidades/detalhes/a718f11a-e3a0-49ea-88c9-84706f71eee5"
          target="_blank"
          >VEJA MAIS</a
        >
      </div>
    </div> -->
    <div *ngFor="let n of sec1" class="homepage__first__card-container">
      <div class="homepage__first__box-card">
        <a
          href="https://www.magnasistemas.com.br/wps/wcm/connect/41b7b902-e96b-444b-9297-76040ec9de65/E-Book_Industria+4-0_MS.pdf?MOD=AJPERES&CVID=nVfJnFw"
          target="_blank"
        >
          <img
            src="https://www.magnasistemas.com.br/wps/wcm/connect/e2218fd9-5ea5-43a2-8cca-15ec84411aac/Captura+de+tela+2022-01-07+112354.png?MOD=AJPERES&CACHEID=ROOTWORKSPACE-e2218fd9-5ea5-43a2-8cca-15ec84411aac-leAWnzx"
            alt="{{ n.title }}"
            class="homepage__first-img"
          />
          <h4>{{ n.title }}</h4>
          <p>
            {{ n.text }}
          </p>
        </a>

        <a
          href="https://www.magnasistemas.com.br/wps/wcm/connect/41b7b902-e96b-444b-9297-76040ec9de65/E-Book_Industria+4-0_MS.pdf?MOD=AJPERES&CVID=nVfJnFw"
          target="_blank"
          >BAIXE AQUI</a
        >
      </div>
    </div>
  </section>

  <!-- Second Section -->

  <section class="homepage__second-section-container">
    <div class="homepage__second-wrapper max-width">
      <div class="homepage__second-box">
        <div class="homepage__inner-second-box">
          <img
            src="https://www.magnasistemas.com.br/wps/wcm/connect/c17dc140-cae4-4475-9981-4e45a97bb71a/home06.png?MOD=AJPERES&CACHEID=ROOTWORKSPACE-c17dc140-cae4-4475-9981-4e45a97bb71a-leAWnzx"
            alt="Parceiros"
            class="homepage__second-img"
          />
        </div>
        <div class="homepage__inner-second-box">
          <h4>Parceiros</h4>
          <p>
            A MAGNASISTEMAS mantém parcerias estratégicas com as principais
            empresas mundiais de tecnologia para o desenvolvimento de suas
            soluções.
          </p>
          <a
            target="_blank"
            href="https://www.magnasistemas.com.br/wps/portal/internet/parceiros"
            >CONHEÇA</a
          >
        </div>
      </div>
      <div class="homepage__second-box">
        <div class="homepage__inner-second-box">
          <img
            src="https://www.magnasistemas.com.br/wps/wcm/connect/9983867d-e0ce-4784-b3d3-d36b8157a397/home05.png?MOD=AJPERES&CACHEID=ROOTWORKSPACE-9983867d-e0ce-4784-b3d3-d36b8157a397-leAWnzx"
            alt="Carreiras"
            class="homepage__second-img"
          />
        </div>
        <div class="homepage__inner-second-box">
          <h4>Carreira</h4>
          <p>
            Mais que colaboradores, pessoas! Conheça mais sobre a MAGNASISTEMAS
            e nossas vagas! Venha fazer parte do nosso time!
          </p>
          <a target="_blank" href="https://jobs.kenoby.com/magnasistemas"
            >CONHEÇA</a
          >
        </div>
      </div>
    </div>
  </section>

  <!-- Third Section -->

  <section class="homepage__third-section-container">
    <div class="homepage__third-section-wrapper max-width">
      <a href="/internet/solucoes" title="" target=""><h2>Soluções</h2></a>
      <div class="homepage__third__box-container">
        <div class="homepage__third__box-card">
          <a
            href="/wps/portal/internet/solucoes/detalhe/0bd2e0c4-2f99-426a-8194-901e2c1910e5"
          >
            <img
              src="https://www.magnasistemas.com.br/wps/wcm/connect/2eaa2971-6de7-4e19-b79e-117268d440d6/Zeladoria.png?MOD=AJPERES&CACHEID=ROOTWORKSPACE-2eaa2971-6de7-4e19-b79e-117268d440d6-leAWnzx"
              alt="Zeladoria Urbana Inteligente"
              class="homepage__third-img"
            />
            <h4>Zeladoria Urbana Inteligente</h4>
            <p>Pessoas mais engajadas, cidades mais acolhedoras.</p>
          </a>
          <a
            href="/wps/portal/internet/solucoes/detalhe/0bd2e0c4-2f99-426a-8194-901e2c1910e5"
            >CONHEÇA</a
          >
        </div>
        <div class="homepage__third__box-card">
          <a
            href="/wps/portal/internet/solucoes/detalhe/fbfa4b95-c51f-4188-9e5a-f3c56f437806"
          >
            <img
              src="https://www.magnasistemas.com.br/wps/wcm/connect/5ec56934-3472-49e4-8a09-e52252f14d15/CCI1b-MSWebsite.png?MOD=AJPERES&CACHEID=ROOTWORKSPACE-5ec56934-3472-49e4-8a09-e52252f14d15-leAWnzx"
              alt="Centro de Controle Inteligente"
              class="homepage__third-img"
            />
            <h4>Centro de Controle Inteligente</h4>
            <p>
              Solução de Smarter Cities para controle, monitoramento e operação
              da situação.
            </p>
          </a>
          <a
            href="/wps/portal/internet/solucoes/detalhe/fbfa4b95-c51f-4188-9e5a-f3c56f437806"
            >CONHEÇA</a
          >
        </div>
        <div class="homepage__third__box-card">
          <a
            href="/wps/portal/internet/solucoes/detalhe/5110b7c3-a52e-4431-95c6-6d3910dd6461"
          >
            <img
              src="https://www.magnasistemas.com.br/wps/wcm/connect/38400a0d-e8d0-4d23-9d50-441668d25534/IoT+MSWebsite.png?MOD=AJPERES&CACHEID=ROOTWORKSPACE-38400a0d-e8d0-4d23-9d50-441668d25534-leAWnzx"
              alt="Internet of Things"
              class="homepage__third-img"
            />
            <h4>Internet of Things</h4>
            <p>
              Soluções inteligentes para gestão integrada de ativos
              corporativos.
            </p>
          </a>
          <a
            href="/wps/portal/internet/solucoes/detalhe/5110b7c3-a52e-4431-95c6-6d3910dd6461"
            >CONHEÇA</a
          >
        </div>
        <div class="homepage__third__box-card">
          <a
            href="/wps/portal/internet/solucoes/detalhe/c1e2af06-8f53-488c-9492-b4be4e1d4bdc"
          >
            <img
              src="https://www.magnasistemas.com.br/wps/wcm/connect/3c6387f4-8cfa-4693-a3f0-cf66479ee601/BPMRPA-MSWebsite.png?MOD=AJPERES&CACHEID=ROOTWORKSPACE-3c6387f4-8cfa-4693-a3f0-cf66479ee601-leAWnzx"
              alt="Automação de Processos"
              class="homepage__third-img"
            />
            <h4>Automação de Processos</h4>
            <p>
              Modelagem, integração, otimização e gestão de processos de
              negócio.
            </p>
          </a>
          <a
            href="/wps/portal/internet/solucoes/detalhe/c1e2af06-8f53-488c-9492-b4be4e1d4bdc"
            >CONHEÇA</a
          >
        </div>
      </div>
    </div>
  </section>
</div>
