<div class="homepage">
  <!-- First Section -->

  <section class="homepage__first-section-container max-width">
    <div *ngFor="let n of sec1" class="homepage__first__card-container">
      <div class="homepage__first__box-card">
        <a href="{{ n.link }}" target="_blank">
          <img
            src="{{ n.image }}"
            alt="{{ n.title }}"
            class="homepage__first-img"
          />
          <h4>{{ n.title }}</h4>
          <p>
            {{ n.text }}
          </p>
        </a>
        <a href="{{ n.link }}" target="_blank">{{ n.button }}</a>
      </div>
    </div>
  </section>

  <!-- Second Section -->

  <section class="homepage__second-section-container">
    <div class="homepage__second-wrapper max-width">
      <div *ngFor="let n of sec2" class="homepage__second-box">
        <div class="homepage__inner-second-box">
          <img
            src="{{ n.image }}"
            alt="{{ n.title }}"
            class="homepage__second-img"
          />
        </div>
        <div class="homepage__inner-second-box">
          <h4>{{ n.title }}</h4>
          <p>
            {{ n.text }}
          </p>
          <a target="_blank" href="{{ n.link }}">CONHEÇA</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Third Section -->

  <section class="homepage__third-section-container">
    <div class="homepage__third-section-wrapper max-width">
      <a href="/internet/solucoes" title="" target=""><h2>Soluções</h2></a>
      <div class="homepage__third__box-container">
        <div *ngFor="let n of sec3" class="homepage__third__box-card">
          <a href="{{ n.link }}" target="_blank">
            <img
              src="{{ n.image }}"
              alt="{{ n.title }}"
              class="homepage__third-img"
            />
            <h4>{{ n.title }}</h4>
            <p>{{ n.text }}</p>
          </a>
          <a href="{{ n.link }}">{{ n.button }}</a>
        </div>
      </div>
    </div>
  </section>
</div>
