/* You can add global styles to this file, and also import other style files */

*{
  font-family: 'Montserrat', sans-serif;
}

body{
  margin: 0;
}

:root{
  --color: 201;
  --color-primary: hsl(var(--color) 79% 25%)
}